/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'Orator-Slanted';
    src: url('OratorStd-Slanted.otf') format("opentype");
}

@font-face {
    font-family: 'Obold';
    src: url('Orator_BoldOblique.ttf') format("truetype")
}

body {
    width: 85%;
    margin: 1em auto 0 auto;
    font-family: "Orator-Slanted"
}

header {
    margin-top: 1em;
}

.col-md-4 {
    padding-left: 0;
}

.homepage {
    margin-top: 1em;
}

.navigation {
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

.projectbold {
    background-color: black;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 0.5em;
    transform: skewX(-7deg);
    -moz-transform: skewX(-7deg);
    -webkit-transform: skewX(-7deg);
}

.projects {
    display: none;
}

#projects-bar {
    cursor: pointer;
}

.fa.fa-cloud-download {
    display: none;
}

.lead h1 {
    margin-bottom: 1em;
    font-family: "Orator-Slanted";
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
}

ul {
    display: inline-block;
    /*background-color: rgba(240,230,140, 0.5);*/
    
    border-radius: 0.5em;
    padding-left: 0;
}

li {
    list-style-type: none;
    margin-left: 0;
}

a {
    /*color: black;*/
}

a:link {
    text-decoration: none;
    color: black;
}

#scarecrows {
    border-bottom: 2px solid #FFE800;
}

#scarecrows:hover {
    text-decoration: none;
}

#screenprop-link {
    border-bottom: 2px solid #FF766F
}

#screenprop-link:hover {
    text-decoration: none;
}

#familiar-link {
    border-bottom: 2px solid #5CB5E5;
}

#familiar-link:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

.logo a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: black;
}

main {
    display: inline-block;
    font-size: 1.1em;
}

.thumbnails {
    text-align: center;
    postion: relative;
    /*padding-right: 4em;*/
    /*bottom: 4em;*/
}

.thumbnails img {
    height: 2.5em;
    cursor: pointer;
}

.screenprop-display {
    /*height: 2em;*/
}

.content-nest {
    padding-bottom: 3em;
}
/* ==========================================================================
   Screen Prop Page
   ========================================================================== */

.details {
    display: inline;
    padding-left: 0;
    font-size: 0.9em;
    margin-top: 25vh;
}

.details p {
    padding: 0;
    line-height: 1em;
    margin-bottom: 0.5em;
}

.feature-image {
    max-height: 525px;
    margin-top: 1em;

}

#fullscreen {
    max-height: 525px;
    margin-top: 1em;
}

.prev,
.next {
    position: fixed;
    bottom: 0;
    width: 10%;
    /*filter: alpha(opacity=0);*/
    height: 100%;
    cursor: pointer;    
    background-color: yellow;
    padding: none;
    margin: none;


}

.prev {
    height: 90%;
    right: 0%;
    display: none;
    opacity: 0.6;
    background: url(../img/prev.png)50% 50% no-repeat;
    

    
}

.next {
    height: 90%;
    right: 0%;
    display: none;
    opacity: 0.6;
    background: url(../img/next.png) 50% 50% no-repeat;
    }

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* ==========================================================================
  Water Vessel Still Life
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== 
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (max-width: 992px) {
    html {
        overflow: scroll;
    }
    .thumbnails {
        postion: static;
        margin-top: 2em;
    }
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (max-width: 768px) {
    #fullscreen {}
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}